<!-- Header -->
<header>
	<div class="nav-header">
		<div class="container">
			<div class="box-header-alt">
				<div class="left-header-alt">
					<div class="box-table">
						
						<div class="display-table">
							<div class="display-table-cell">
								<div class="box-lang">
									<div class="list-lang">
										<img src="/frontend/assets/images/icons/logo.png" alt="logo"  style="width:25px;height:25px;">
			
									</div>
									<div class="list-lang" style="overflow: hidden;">
										<a href="/dashboard">ADMIN PANEL</a>
									</div>
									<div class="clearer"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="center-header-alt">
					<div class="box-table">
						<div class="display-table">
							<div class="display-table-cell">
								
							</div>
						</div>
					</div>
				</div>
				<div class="right-header-alt">
					<div class="box-table">
						<div class="display-table">
							<div class="display-table-cell">
								<!-- Sesudah Login -->
								<div class="box-account">
									<div class="box-table">
										<div class="display-table">
											<div class="display-table-cell">
												<div class="box-content-account">
													<!-- Jika belum update foto profil -->
													<div class="left-content-account">
														<span class="initial"></span>
													</div>
													
													<div class="center-content-account">
														<span>Halo</span>
														<div class="title-content-account"></div>
													</div>
													<div class="right-content-account">
														<i class="fas fa-chevron-down"></i>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="box-dropdown">
										<div class="menu-dropdown">
											<span>
												<a href="/dashboard">
													<i class="fas fa-user"></i> <small>Dashboard</small>
												</a>
											</span>
											
											<span>
												<a href="/categories">
													<i class="fas fa-wifi"></i> <small>Categories</small>
												</a>
											</span>

											<span>
												<a href="/products">
													<i class="fas fa-cubes"></i> <small>Products</small>
												</a>
											</span>
											<span class="actLogout">
												<i class="fas fa-lock"></i> <small>Logout</small>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>