<div  class="left-member-area sidebar" > 
    
    <div class="box-avatar">
        <div class="img-avatar">
            <a href="/account" class="initial" style="text-decoration:none;"></a>
        </div>
      
        <div class="title-avatar title-content-account">
            
        </div>
        <span>
            <b class="join_date"></b>
        </span>
        <div class="clearer"></div>
    </div>
    
    <div class="box-menu-member">
        <div class="list-menu-member">
            
            <a href="/dashboard">
                <i class="fas fa-user"></i> <small>Dashboard</small>
                <div class="clearer"></div>
            </a>
        </div>
        <div class="line-menu-member"></div>
        <div class="list-menu-member">
            
            <a href="/categories">
                <i class="fas fa-angle-right"></i> <small>Categories</small>
                <div class="clearer"></div>
            </a>
        </div>
        <div class="line-menu-member"></div>
        <div class="list-menu-member">
            
            <a href="/products">
                <i class="fas fa-star"></i> <small>Products</small>
                <div class="clearer"></div>
            </a>
        </div>
        <div class="line-menu-member"></div>
        <div class="list-menu-member ">
            <a href="https://www.ArraTreeni/" target="_blank">
                <i class="fas fa-globe"></i> <small>e-Commerce</small>
                <div class="clearer"></div>
            </a>
        </div>
        <div class="line-menu-member"></div>
        <div class="list-menu-member actLogout">
            <i class="fas fa-sign-out-alt"></i> <small>Logout</small>
            <div class="clearer"></div>
        </div>
    </div>
</div>