
<div id="viewModalLogout" class="modal fade" role="dialog">
	<div class="box-table">
		<div class="display-table">
			<div class="modal-overlay" data-dismiss="modal"></div>
			<div class="display-table-cell">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="box-modal">

							<div class="box-close-alt" data-dismiss="modal">
								<i class="fas fa-times"></i>
							</div>

							<div class="icon-modal">
								<i class="fas fa-question-circle"></i>
							</div>
							<center>
								Halo <b class="account-name">Edwin</b>. Are you sure you want to exit this page?
							</center>

							<div class="text-center">
								<button class="btn-silver" data-dismiss="modal">
									Cancel
								</button>
								&nbsp;
								<a href="#">
									<button class="btn-blue btnLogout">
										Logout
									</button>
								</a>
							</div>

							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> 
</div>


