
<section>
	<div class="container-fluid">
	<div class="row products_data" style="margin-top:5%">
		<div class="col-md-4" style="margin-top:0.5%;">
			<div class="card p-3">
				<div class="d-flex flex-row mb-3"><img src="https://i.imgur.com/ccMhxvC.png" width="70">
					<div class="d-flex flex-column ml-2"><span>Stripe</span><span class="text-black-50">Payment Services</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
				</div>
				<h6>Get more context on your users with stripe data inside our platform.</h6>
				<div class="d-flex justify-content-between install mt-3"><span>Installed 172 times</span><span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span></div>
			</div>
		</div>
		<div class="col-md-4" style="margin-top:0.5%;">
			<div class="card p-3">
				<div class="d-flex flex-row mb-3"><img src="https://i.imgur.com/IpKQiNu.png" width="70">
					<div class="d-flex flex-column ml-2"><span>Mailchimp</span><span class="text-black-50">Project Management</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
				</div>
				<h6>Capture and sync subscribers from your mailchimp platform .</h6>
				<div class="d-flex justify-content-between install mt-3"><span>Installed 1234 times</span><span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span></div>
			</div>
		</div>
		<div class="col-md-4" style="margin-top:0.5%;">
			<div class="card p-3">
				<div class="d-flex flex-row mb-3"><img src="https://i.imgur.com/42SqVZd.png" width="70">
					<div class="d-flex flex-column ml-2"><span>Dropbox</span><span class="text-black-50">File Management</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
				</div>
				<h6>Use dropbox to sync your photos to our platform and share it with others.</h6>
				<div class="d-flex justify-content-between install mt-3"><span>Installed 1234 times</span><span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span></div>
			</div>
		</div>
		<div class="col-md-4" style="margin-top:0.5%;">
			<div class="card p-3">
				<div class="d-flex flex-row mb-3"><img src="https://i.imgur.com/lXEUCY8.png" width="70">
					<div class="d-flex flex-column ml-2"><span>Shopify</span><span class="text-black-50">Ecommerce</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
				</div>
				<h6>Sell you items with ease with having any website with our free platform</h6>
				<div class="d-flex justify-content-between install mt-3"><span>Installed 1234 times</span><span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span></div>
			</div>
		</div>
		<div class="col-md-4" style="margin-top:0.5%;">
			<div class="card p-3">
				<div class="d-flex flex-row mb-3"><img src="https://i.imgur.com/S2In5pz.png" width="70">
					<div class="d-flex flex-column ml-2"><span>Atlassian</span><span class="text-black-50">Project management</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
				</div>
				<h6>Developing products for developers,project managers and architects.</h6>
				<div class="d-flex justify-content-between install mt-3"><span>Installed 345 times</span><span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span></div>
			</div>
		</div>
		<div class="col-md-4" style="margin-top:0.5%;">
			<div class="card p-3">
				<div class="d-flex flex-row mb-3"><img src="https://i.imgur.com/S5oK3Oe.png" width="70">
					<div class="d-flex flex-column ml-2"><span>Salesforce</span><span class="text-black-50">Project management</span><span class="ratings"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span></div>
				</div>
				<h6>Developing products for developers,project managers and architects.</h6>
				<div class="d-flex justify-content-between install mt-3"><span>Installed 345 times</span><span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span></div>
			</div>
		</div>
	</div>
</section>
<script>
	var page="dashboard"	
</script>
