<section>
	<div class="container-fluid">
		<div class="box-member-area">
			<%- include('../components/left')-%>
			<div class="right-member-area">	
				<div style="margin-bottom:3%;">
					<button type="button" class="btn btn-success btnAddCategories" ><i class="fas fa-plus"></i> Add a New Categories</button>
				</div>

				<div  class="categories_form" style="display:none;">
					<form action="#" id="myForm" role="form" data-toggle="validator" method="post" accept-charset="utf-8">
						<div id="form" role="form" data-toggle="validator">
							<div class="form-group">
								<label for="email">Category Name:</label>
								<input type="input" name="txtCategoryName" id="txtCategoryName" class="form-control"  placeholder="Write your category of product's name" required>
								<div class="help-block with-errors"></div>
							</div>
							<div class="form-group">
								<label for="description">Description:</label>
								<textarea name="description" id="description" class="form-control"  placeholder="Write your category of product's name" rows="4" cols="50"></textarea>
								<div class="help-block with-errors"></div>
							</div>
						</div>
						<button type="button" class="btn btn-primary btnSave" ><i class="fas fa-save"></i> Save</button>
						<button type="button" class="btn btn-warning btnCancel" ><i class="fas fa-times"></i> Cancel</button>
					</form>
				</div>
				<div class="row categories_data" style="margin:5px;">
					
				</div>
			</div>
			<div class="clearer"></div>
		</div>
	</div>
</section>
<script>
	var page="categories"	
</script>
