<style>
    img{
    max-width:180px;
    }
    input[type=file]{
        padding:10px;
    }

</style>
<section>
	<div class="container-fluid">
		<div class="box-member-area">
			<%- include('../components/left')-%>
			<div class="right-member-area">	
				<div style="margin-bottom:3%;">
					<button type="button" class="btn btn-success btnAddProducts" ><i class="fas fa-plus"></i> Add a New Products</button>
				</div>

				<div  class="products_form" style="display:none;">
					<form action="#" id="myForm" role="form" data-toggle="validator" method="post" accept-charset="utf-8">
						<div id="form" role="form" data-toggle="validator">
							<div class="form-group">
								<img id="blah" src="http://placehold.it/180" alt="your image" /><br>
                                <input type='file' onchange="readURL(this);"  required/>
                                <div class="help-block with-errors"></div>
							</div>
                            <div class="form-group">
								<label for="category">Category:</label>
								<select name="optCategory" id="optCategory" class="form-control" required>
                                    
                                </select>
                                <div class="help-block with-errors"></div>
							</div>
                            <div class="form-group">
								<label for="title">Title:</label>
								<input type="input" name="txtTile" id="txtTile" class="form-control"  placeholder="Write your category of product's name" required>
								<div class="help-block with-errors"></div>
							</div>
                            <div class="form-group">
								<label for="email">Price:</label>
								<input type="input" name="txtPrice" id="txtPrice" class="form-control"  placeholder="Write your category of product's name" required>
								<div class="help-block with-errors"></div>
							</div>
							<div class="form-group">
								<label for="description">Description:</label>
								<textarea name="description" id="description" class="form-control"  placeholder="Write your category of product's name" rows="4" cols="50"></textarea>
								<div class="help-block with-errors"></div>
							</div>
						</div>
						<button type="button" class="btn btn-primary btnSave" ><i class="fas fa-save"></i> Save</button>
						<button type="button" class="btn btn-warning btnCancel" ><i class="fas fa-times"></i> Cancel</button>
					</form>
				</div>
				<div class="row products_data" style="margin:5px;">
					
				</div>
			</div>
			<div class="clearer"></div>
		</div>
	</div>
</section>
<script>
	var page="products"	
</script>
