<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    
<html>
    
<%- include('components/css')-%>
<body>
<%- include('components/header')-%>
<div id="main" >
<!--main content-->
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<% if (page=='dashboard') { %>
    <%- include('dashboard/dashboard')-%>
    <!-- dashboard-->
    <link rel="stylesheet" href="/assets/lib/sneat/core.css">
    <link rel="stylesheet" href="/assets/lib/sneat/theme-default.css">
    <link rel="stylesheet" href="/assets/lib/apex-charts/apexcharts.css">

    <script type="text/javascript" src="/assets/lib/apex-charts/apexcharts.min.js"></script>
    <script type="text/javascript" src="/assets/lib/sneat/helpers.js"></script>
    <script type="text/javascript" src="/assets/lib/sneat/config.js"></script>
    <script type="text/javascript" src="/assets/lib/sneat/main.js"></script>
    <script type="text/javascript" src="/assets/lib/sneat/dashboards-analytics.js"></script>
    <script type="text/javascript" src="/assets/js/modules/products.js"></script>
    <script type="text/javascript" src="/assets/js/modules/dashboard.js"></script>
    
<% } %>



<!--end main content-->
<%- include('components/modal')-%>
<%- include('components/js')-%>
</div>
</body>
</html> 